<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Mail Verification</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;700&display=swap" rel="stylesheet">
  <link href="/static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>
<main class="verify-email">
  <div class="rounded-card">
    <h2 class="verified-title">이메일 인증</h2>
    <p class="verified-email">이메일 인증을 성공했습니다. 사이트로 돌아가서 로그인하세요!</p>
    <p id="page-close-counter"></p>
  </div>
</main>
<script type="text/javascript" src="/static/js/verify-email.js" th:src="@{/js/verify-email.js}"></script>
</body>
</html>